@model Chat.Models.ForgetPassword
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<!DOCTYPE html>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <legend>Forgot password</legend>
    <div class="form-horizontal">

       <p id="ViewBag"> @ViewBag.Succes</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               

      

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <br>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        <br>

        <input type="submit" value="Resend Password" class="cd-btn" />

</div>
    
         
}