﻿﻿﻿@model IEnumerable<Chat.Models.Topics>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>



    <div id="header" class="usersonline"></div>
    @{ if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown">
                <p class="dropbtn">Users Online &#x25BF</p>
                <div class="dropdown-content">
                    <div class="usersonlinenames" id="chatusers"> </div>
                </div>
            </div>



        }}





    <br>

    <section class="cd-intro">
        <div class="cd-intro-content bouncy">
            <h1>Thank you for visiting us</h1>
            <p>From now you are the main newsmaker of the World</p>



            @{ if (User.Identity.IsAuthenticated == false)
                {
                    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

                    <div class="action-wrapper">
                        <a href="~/Account/login" class="loginBlock"> Login &nbsp;</a>
                        <a href="~/Account/register" class="loginBlock"> Sign Up &nbsp; </a>
                        <a href="~/Account/ResendPassword" class="loginBlock"> Forgot Password? </a>

                    </div>


                }}

        </div>
    </section>
    @{ if (User.Identity.IsAuthenticated)
        {
            <br>
            <p class="indexPageText">Join Any Article and start live conversation with other users. Top rated Articles will show up first</p>
            <div id="createNewGroup">
                <a href="~/topics/create">
                    <p> &#x271A; Add News</p>
                </a>


                @*@Html.ActionLink("Add news", "Create")*@
            </div>

            <table class="table" id="table">




                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.imageone != null)
                            { <span id="titlesImage">

                                @*<a href="@Url.Content("~/img/" + System.IO.Path.GetFileName(item.imageone)) "target="_blank">*@ <img src="@Url.Content("~/img/" + System.IO.Path.GetFileName(item.imageone))" alt="www.clickchats.com @item.title" style="height:120px; width:170px" />@*</a>*@
                            </span>

                            }
                            <span id="titles">
                                @Html.DisplayFor(modelItem => item.title)

                            </span>
                            <br>
                            @*<span id="linksource">
                                    <a href="@Html.DisplayFor(modelItem => item.imagetwo)" target="_blank">@Html.DisplayFor(modelItem => item.imagetwo) </a>
                                </span>*@
                        </td>


                        @{ if (User.Identity.IsAuthenticated)
                    {



                                <td><p id="joinGroup">Start Chat</p></td>


                                <td><p id="like">&#10084;</p></td>
                                <td class="likes">
                                    <p> @Html.DisplayFor(modelItem => item.countLikes)</p>
                                </td>

                            }
                        }

                    </tr>
                            if (item.imagetwo != null)
                            {
                                <tr>
                                    <td>
                                        <span id="linksource">
                                            <a href="@Html.DisplayFor(modelItem => item.imagetwo)" target="_blank">@Html.DisplayFor(modelItem => item.imagetwo) </a>
                                        </span>
                                    </td>
                                </tr> }

                            }

            </table>
           

                            }
                            else
                            {
                                <script src="~/Scripts/ShowTableWhenUserNotAuth.js"></script>


                                <div id="homePage">
                                    <div class="indexTable">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-4"><div id="icontext"><img src="~/Images/IndexPageImg/indexSmile.png" alt="www.clickchats.com" /> ClickChats is 100%  an open community</div></div>
                                                <div class="col-xs-6 col-sm-4"><div id="icontext"><img src="~/Images/IndexPageImg/indexOnline.png" alt="www.clickchats.com" />All discussion are Live and with real users</div></div>
                                                <div class="col-xs-6 col-sm-4"><div id="icontext"><img src="~/Images/IndexPageImg/indexWeBlock.png" alt="www.clickchats.com" />We try to block/delete all illeagal or criminal materials</div></div>
                                                <div class="col-xs-6 col-sm-4"><div id="icontext"><img src="~/Images/IndexPageImg/indexHistory.png" alt="www.clickchats.com" />Chat history of every Article just in a few clicks</div></div>
                                                <div class="col-xs-6 col-sm-4"><div id="icontext"><img src="~/Images/IndexPageImg/indexAllDevices.png" alt="www.clickchats.com" />You don't need to install any side apps.</div></div>



                                                <div class="col-xs-6 col-sm-4"><div id="icontext"><img src="~/Images/IndexPageImg/indexReadWrite.png" alt="www.clickchats.com" />Create, read or vote for a real-time Articles</div></div>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <br>
                                <p class="indexPageText">Log In or Register to like, dislike or discuss topics in a live chat.</p>
                                <p class="seeArticles">Click to Show Topics</p>
                                <p class="hideArticles">Click to Hide </p>

                                    <br><br>


                                    <table class="table" id="tablelogoff">




                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="~/Account/login">
                                                        @if (item.imageone != null)
                                                        {


                                                            <span id="titlesImage">

                                                                @*<a href="@Url.Content("~/img/" + System.IO.Path.GetFileName(item.imageone)) "target="_blank">*@ <img src="@Url.Content("~/img/" + System.IO.Path.GetFileName(item.imageone))" alt="www.clickchats.com@item.title" style="height:120px; width:170px" />@*</a>*@
                                                            </span>


                                                        }

                                                        <span id="titles">
                                                            @Html.DisplayFor(modelItem => item.title)

                                                        </span>
                                                    </a>
                                                </td>

                                                <td><a href="~/Account/login"><p id="joinGroup">Start Chat</p> </a> </td>


                                                <td><a href="~/Account/login"><p id="like">&#10084;</p></a></td>
                                                <td class="likes">
                                                    <p> @Html.DisplayFor(modelItem => item.countLikes)</p>
                                                </td>






                                            </tr>

                                            if (item.imagetwo != null)
                                            {
                                                <tr>
                                                    <td>
                                                        <span id="linksource">
                                                            <a href="@Html.DisplayFor(modelItem => item.imagetwo)" alt="www.clickchats.com" target="_blank">@Html.DisplayFor(modelItem => item.imagetwo)</a>
                                                        </span>
                                                    </td>
                                                </tr> }
                                        }

                                    </table>  } }
    @{ if (User.Identity.IsAuthenticated == false)
        {
            <p class="hideArticles">Click to Hide </p>
<script src="~/Scripts/YoutubeTopicsUserNotAuth.js"></script >
        }

    }


    @{ if (User.Identity.IsAuthenticated)
        {



            <div class="main">
                @*<div id="loginBlock">

                        <input id="txtUserName" type="text"  value="@User.Identity.Name"/>

                    </div>*@

                <div id="chatBody">

                    <div id="groupName"></div>
                    <br>
                    <div id="count"></div>
                    <div id="inputForm">
                        <input type="text" id="messagebox" class="message" />
                        <input type="button" id="sendmessage" value="Send" />




                        @*<input type="button" id="clearHistory" value="Hide History" />*@
                        @*<input type="button" id="showHistory" value="Show History" />*@
                        <br>


                        <span class="glyphicon glyphicon-arrow-down" id="showHistory">History</span>


                        <span class="glyphicon glyphicon-arrow-up" id="clearHistory">Hide</span>



                    </div>
                    <br>
                    <div id="emptymessage"></div>

                    <div id="chatroom">

                       

                    </div>
                
                    @*<div class="usersonlinenames" id="chatusers">
                            <p><b>Users Online</b></p>

                        </div>*@


                  


                </div>
                <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Top<span></span></a>
                <audio id="audio" src="~/sounds/newmessage.mp3"></audio>


                <input id="hdId" type="hidden" />
                <input id="username" type="hidden" />
                <input id="grp" type="hidden" />
            </div>
            <script src="~/Scripts/jquery-3.2.1.min.js"></script>
            <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
            <script src="~/signalr/hubs"></script>
            <script src="~/Scripts/util.js"></script>
            <script src="~/Scripts/YoutubeTopicsUserAuth.js"></script>
            <script src="~/Scripts/BackToTop.js"></script >
        }
    }





</body>

</html>
