@model IEnumerable<Chat.Models.Topics>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>



    <div id="header" class="usersonline"></div>

   

   




    <section class="cd-intro">
        <div class="cd-intro-content bouncy">
            <h1>Thank you for visiting us</h1>
            <p>We hope you will have a great stay in fastest social network ever</p>
           
            @{ if (User.Identity.IsAuthenticated == false)
                {
                    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

                    <div class="action-wrapper">
                        <a href="~/Account/login" class="loginBlock"> Login &nbsp;</a>
                        <a href="~/Account/register" class="loginBlock"> New user? &nbsp; </a>
                        <a href="~/Account/ResendPassword" class="loginBlock"> Forgot Password? </a>

                    </div>

                    
                }}
           
        </div>
    </section>
 @{ if (User.Identity.IsAuthenticated)
     {
    
    <p class="indexPageText">Please Join Any Group and start live conversation with other users</p>
    <div id="createNewGroup">
        <a href="~/topics/create">
            <p>&#9998; New Article</p>
        </a>
      

        @*@Html.ActionLink("Add new", "Create")*@
    </div>

     }
     else
     {     
         <br><br>

       <div id="homePage">
           <br>
      <p><b>ClickChats is 100%  an open community, in our opinion, the reason is that : </b></p>
        <p>You can create, read or vote for a real-time Article made on ClickChats.com by our members.</p>
        <p>You don't need to install any side apps. Our interface is mobile friendly (any kind of smartphone or tablet).</p>
        <p> You don't have to join some Article to "Like or "Dislike it!</p>
        <p>All discussion are Live and with real users;</p>
        
        <p>
            We don't have any user Groups or private Messages!! Once a user posts something he or she will be unable to delete it.
            In this way, we provide kids-safe parent control! And essentially if you are a good and fair person you have nothing to hide.
        </p>

        <p>
            What will happen if connection lost during live chat discussion?
            The Answer is nothing!! You can see Chat history of every Article just in a few clicks.
        </p>

        <p>
            We try to block/delete all materials that:
            Incites, advocates, or expresses pornography, obscenity, vulgarity, profanity, hatred, bigotry, racism, terrorism or gratuitous violence.
        </p>

           <br>
    </div>
    <br>
        <p class="indexPageText">Please take a quick journey of all available Articles at this moment! After login or Signup, you will be able to like, dislike or discuss them in a live chat.</p>
     } }
   <br><br>
    <table class="table" id="table">
       
      
       
        @*<tr>
            
             Please Join Any Group to start live conversation with other users
           
            <th>
                @Html.DisplayNameFor(model => model.imageone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagetwo)
            </th>
            
        </tr>*@

       
              

                    @foreach (var item in Model)
                    {
<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                @*<td class="likes">
                @Html.DisplayFor(modelItem => item.countLikes )
               </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.imageone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imagetwo)
                </td>*@
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>*@
             
                @{ if (User.Identity.IsAuthenticated)
                    { 



                        <td><a href="#"><p id="joinGroup">Join</p> </a> </td>

  
                        @*<td><a href="#"><p id="like">Like</p> </a> </td>*@
 
                        <td><a href="#"><span class="glyphicon glyphicon-thumbs-up" id="like"></span></a></td>
                        <td class="likes">
                          @Html.DisplayFor(modelItem => item.countLikes) 
                        </td>

                    }
                }
                
            </tr>
                    }

    </table>
    @{ if (User.Identity.IsAuthenticated)
        {



                    <div class="main">
                        @*<div id="loginBlock">

                                <input id="txtUserName" type="text"  value="@User.Identity.Name"/>

                            </div>*@
                        
                        <div id="chatBody">

                            <div id="groupName"></div>
                            <br>
                            <div id="count"></div>
                            <div id="inputForm">
                                <input type="text" class="message" />
                                <input type="button" id="sendmessage" value="Send" />
                                @*<input type="button" id="clearHistory" value="Hide History" />*@
                                @*<input type="button" id="showHistory" value="Show History" />*@
                               <br>
                               
                               
                                    <span class="glyphicon glyphicon-arrow-down" id="showHistory">History</span>
                                
                                
                                    <span class="glyphicon glyphicon-arrow-up" id="clearHistory">Hide</span>
                               
                         
                            
                        </div>
                            <br>
                            <div id="emptymessage"></div>

                            <div id="chatroom"></div>

                            @*<div class="usersonlinenames" id="chatusers">
                                <p><b>Users Online</b></p>

                            </div>*@

                           
                            @*<a href="#" id="back-to-top" title="Back to top">&uarr;</a>*@


                        </div>

                        <input id="hdId" type="hidden" />
                        <input id="username" type="hidden" />
                        <input id="grp" type="hidden" />
                    </div>
                    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
                    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
                    <script src="~/signalr/hubs"></script>
                    <script src="~/Scripts/util.js"></script>
                  

            }
        }





</body>

</html>
