@model IEnumerable<Chat.Models.Topics>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
  
    <section class="cd-intro">
        <div class="cd-intro-content bouncy">
            <h1>Thank you for visiting us</h1>
            <p>We hope you will enjoy the time to be here</p>
           
            @{ if (User.Identity.IsAuthenticated == false)
                {
                    <script src="~/Scripts/jquery-3.2.1.min.js"></script>

                    <div class="action-wrapper">
                        <a href="~/Account/login" class="loginBlock"> Login &nbsp;</a>
                        <a href="~/Account/register" class="loginBlock"> New user? &nbsp; </a>
                        <a href="~/Account/ResendPassword" class="loginBlock"> Forgot Password? </a>
                    </div>
                }}
           
        </div>
    </section>
 @{ if (User.Identity.IsAuthenticated)
     {
    <div id="createNewGroup">
         @Html.ActionLink("Create Discussion", "Create") 
</div>
    <br>
    <p>Please Join Any Group to start live conversation with other users</p>

     }
     else
     {
        <p>Please Login to join Any Group and start live conversation with other users</p>
     } }
   
    <table class="table" id="table">
       
      
       
        @*<tr>
            
             Please Join Any Group to start live conversation with other users
           
            <th>
                @Html.DisplayNameFor(model => model.imageone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagetwo)
            </th>
            
        </tr>*@

       
              

                    @foreach (var item in Model)
                    {
<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.countLikes)
               </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.imageone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imagetwo)
                </td>*@
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>*@
             
                @{ if (User.Identity.IsAuthenticated)
                    { 



                        <td><a href="#"><p id="joinGroup">Join</p> </a> </td>

  
                        @*<td><a href="#"><p id="like">Like</p> </a> </td>*@
 
                        <td><a href="#"><span class="glyphicon glyphicon-thumbs-up" id="like"></span></a></td>

                    }
                }
                
            </tr>
                    }

    </table>
    @{ if (User.Identity.IsAuthenticated)
        {



                    <div class="main">
                        @*<div id="loginBlock">

                                <input id="txtUserName" type="text"  value="@User.Identity.Name"/>

                            </div>*@
                        
                        <div id="chatBody">

                            <div id="groupName"></div>
                            <br>
                            <div id="count"></div>
                            <div id="inputForm">
                                <input type="text" id="message" />
                                <input type="button" id="sendmessage" value="Send" />
                                @*<input type="button" id="clearHistory" value="Hide History" />*@
                                @*<input type="button" id="showHistory" value="Show History" />*@
                               <br>
                                <a href="#">
                                    <span class="glyphicon glyphicon-arrow-up" id="clearHistory">Hide</span>
                                </a>
                                <a href="#">
                                    <span class="glyphicon glyphicon-arrow-down" id="showHistory">Show</span>
                                </a>
                         
                            
                        </div>
                            <br>
                            <div id="emptymessage"></div>

                            <div id="chatroom"></div>

                            @*<div class="usersonlinenames" id="chatusers">
                                <p><b>Users Online</b></p>

                            </div>*@
                        </div>

                        <input id="hdId" type="hidden" />
                        <input id="username" type="hidden" />
                        <input id="grp" type="hidden" />
                    </div>
                    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
                    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
                    <script src="~/signalr/hubs"></script>
                    <script src="~/Scripts/util.js"></script>

            }
        }





</body>

</html>
